@keyframes hue-rotate {
  0%, 100% {
    filter: hue-rotate(90deg) saturate(2);
  }

  25%, 75% {
    filter: hue-rotate(180deg) saturate(2);
  }

  50% {
    filter: hue-rotate(270deg) saturate(2);
  }
}

@keyframes color-shift {
  0%, 100% {
    background-color: #c254f5;
  }
  50% {
    background-color: #c65ef5;
  }
  75% {
    background-color: #d278fc;
  }
}

@keyframes blink {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.2)
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blind-top {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  50% {
    opacity: 1;
    transform: translateY(50%);
  }

  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

@keyframes blind-bottom {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  50% {
    opacity: 1;
    transform: translateY(-50%);
  }

  100% {
    opacity: 0;
    transform: translateY(0);
  }
}
