* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(10deg, #4b4d63, #f4ddf7) no-repeat fixed;
  padding-top: 150px;
  margin: 0;
  overflow-x: hidden;
  height: 100%;

  &.has-modal {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
  padding: 0;
}

p {

  &:first-child {
    margin-top: 0;
  }
}

section {
  margin-bottom: 15px;
}

ul {
  @include microfix;
  list-style: none;
  padding: 0;
  margin: 0;

  &:not(:last-child){
    margin-bottom: 20px;
  }
}

.block {
  display: block;
}

.clear-left {
  clear: left;
}

.app-container {
  padding: 0 0 20px;
  position: relative;
}

.page-container {
  width: 80%;
  max-width: $bp-xlarge;
  margin: auto;
  position: relative;
}

.page-content {

  h2 {
    @include codystar;
  }
}

@media screen and (max-width: $bp-large) {

  .page-container {
    width: 90%;
  }
}

@media screen and (max-width: $bp-small) {

  body {
    padding-top: 100px;
  }
}
