body {
  @include inconsolata;
  font-size: 16px;
  color: #fbf9fb;
}

h2,
h3 {
  text-transform: uppercase;
  margin-top: 0;
}

h2 {
  @include roboto-condensed;
  display: inline-block;
  padding: 5px 6px 3px 6px;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 3px;
  color: #f4ddf7;
  background-color: #3c3120;
}

h3 {
  @include roboto;
  color: #fbf9fb;
  font-size: 16px;
  letter-spacing: 0px;
  margin: 0 0 20px;
}

button,
.button {
  @include inconsolata;
  font-size: 16px;
}

p {
  line-height: 1.2em;
  margin: 0 0 15px;
}

a {
  text-decoration: none;
  color: #eff9ae;
  position: relative;
  border-bottom: 1px solid transparent;

  &:before {
    background-color: #eff9ae;
    content: '';
    height: 1px;
    width: 100%;
    transform: scale(0);
    //opacity: 0;
    transition: transform 200ms;
    position: absolute;
    left: 0;
    bottom: 1px;
    transform-style: preserve-3d;
  }

  &:hover {

    &:before {
      opacity: 0.7;
      transform: scale(1);
    }
  }
}

.external-link {
  @include icon-link-hover($type: 'open_in_new');
}

.internal-link {
  @include icon-link-hover($type: 'chevron_right');
}

.back-link {
  @include icon-link($type: 'arrow_back');
  padding-right: 0;
  z-index: 2;

  i,
  &:after {
    font-size: 31px;
    transform: translateX(0);
    transition: transform 200ms cubic-bezier(.56,.53,.41,.91);
  }

  &:before {
    height: 3px;
    position: absolute;
    left: auto;
    bottom: 17px;
    right: 0;
    transform: none;
  }

  &:after {
    display: none;
    left: -21px;
    right: auto;
    top: 0;
    position: relative;
    transition-delay: 50ms;
    width: 100%;
  }

  &:hover {

    &:before {
      opacity: 1;
    }

    i,
    &:after {
      transform: translateX(-10px);
    }
  }
}

.text-xlarge {
  font-size: 30px;
}

.text-large {
  font-size: 20px;
}

.text-medium {
  font-size: 16px;
}

.em-special {
  font-style: normal;
  opacity: 0.3;
  text-shadow: none;
  padding-left: 6px;
}

.material-icons {
  @include material-icons;
}

@media screen and (max-width: $bp-xlarge) {

  .em-special {
    font-size: 88%;
  }
}

@media screen and (max-width: $bp-large) {

  .em-special {
    font-size: 77%;
  }
}
