// colors
$gray: #333;
$white: #fff;
$black: #000;
$green: green;
$purple: purple;

// breakpoint widths
$bp-xlarge: 1200px;
$bp-large: 1024px;
$bp-medium: 800px;
$bp-small: 675px;
$bp-xsmall: 480px;
