# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.rej
*.swo
*.swp
*.vi
*~
*.psd

# OS or Editor folders
.DS_Store
Thumbs.db

# Folders to ignore
project/public

# npm
node_modules

# Webpack
webpack-stats\.json

# Sass
.sass-cache
.temp
