@import '../base/vars';
@import '../base/fonts';
@import '../base/mixins';

.demo {
}

.project {
  display: flex;
}

.project__info {
  width: 40%;
  margin-right: 50px;
  order: 1;

  p {
    margin-top: 0;
  }

  h3 {
    margin-bottom: 1px;
  }
}

.project__demo {
  @include border;
  flex-grow: 1;
  order: 2;
  padding: 40px;
  background: rgba(203, 195, 218, 0.38);

  .demo--slider & {
    padding: 0;
  }
}

@media screen and (max-width: $bp-small) {

  .project {
    display: block;
  }

  .project__info,
  .project__demo {
    width: 100%;
  }

  .project__demo {
    margin-bottom: 20px;
  }
}
