@import '../base/vars';
@import '../base/fonts';
@import '../base/mixins';

.header-main {
  text-align: center;
  width: 100%;
  height: 115px;
  position: fixed;
  top: 8px;
  left: 10px;
  z-index: 1;
  transform: translateY(-107px);
  transition: transform 300ms cubic-bezier(.56,.53,.41,.91);

  &.top {
    transform: translateY(-38px);
  }
}

.header-main__link {
  color: #fbe9f6;
  transition: color 2000ms;

  &:before,
  &:after {
    display: none;
  }

  &:hover {

    &,
    h1 {
      color: #f4ddf7;
    }
  }
}

.page-transition--appear.page-transition--appear-active,
.page-transition--enter.page-transition--enter-active {

  .header-main {

    h1 {

      &:before,
      &:after {
        transform: translateY(-20px) scale(0.7);
      }
    }
  }
}

@media screen and (max-width: $bp-small) {

  .header-main {
    top: -25px;
  }
}
