@import '../base/vars';
@import '../base/fonts';
@import '../base/mixins';

.home {

  .content-list__item {
    padding-bottom: 60px;
  }

  .tag-list {
    position: absolute;
    bottom: 20px;
  }

  .column--content {
    text-align: justify;
    width: 100%;
  }

  .column--image {
    //@include border-shadow;
    border: 2px solid #fbe9f6;
    font-size: 0;
    line-height: 0;
    margin-right: 2%;
    width: 60%;
    min-width: 300px;
    filter: grayscale(50%);
  }
}

.section-intro {
  text-align: justify;
  padding: 40px 0;

  p {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);

    &:last-of-type {
      border-bottom: 2px solid #fbe9f6;
      padding-bottom: 34px;
    }
  }
}

@media screen and (max-width: $bp-small) {

  .home {

    .section-intro {
      display: block;
    }

    .column--image {
      display: none;
    }
  }
}
