@import '../base/vars';
@import '../base/fonts';
@import '../base/mixins';

.home {

  .tag-list {
    position: absolute;
    bottom: 20px;
  }

  .column--content {
    align-self: center;
    text-align: justify;
    width: 100%;
  }

  .column--image {
    @include border;
    font-size: 0;
    line-height: 0;
    width: 50%;
    min-width: 300px;
    filter: grayscale(70%);
  }

  .project-list__item {
    padding-bottom: 60px;
  }
}

.section-intro {
  @include flex-container;
  flex-wrap: nowrap;
  text-align: justify;
  padding: 40px 0;

  .button,
  button {

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  p,
  footer {
    padding-left: 20px;
    text-align: center;
  }

  p {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  }

  .text-large {
    max-width: 520px;
    margin: 0 auto 15px;
  }

  footer {
    border-top: 2px solid #fbe9f6;//#867f97;
    margin-top: 25px;
    padding-top: 15px;
  }
}

@media screen and (max-width: $bp-small) {

  .home {

    .section-intro {
      padding: 0 0 20px;
      position: relative;
      display: block;

      p,
      footer {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    .column--content {
      padding-top: 15px;
    }

    .column--image {
      border: none;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.2;
      top: 0;
      z-index: -1;
    }
  }
}
