@import '../base/mixins';

.home {

  .content-list__item {
    padding-bottom: 60px;
  }

  .tag-list {
    position: absolute;
    bottom: 20px;
  }

  .section-intro {
    @include flex-container;
    flex-wrap: nowrap;
  }

  .column {
    align-self: flex-start;
  }

  .column--content {
    margin-right: 5%;
    text-align: justify;
    width: 110%; // why?
  }

  .column--image {
    @include border-shadow;
    font-size: 0;
    line-height: 0;

    img {
      filter: grayscale(50%);
      //animation: hue-rotate 2000ms infinite alternate;
    }
  }
}

.section-intro {
  text-align: justify;
  padding: 40px 0;

  p {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  }
}
