@media print {

  .resume {

    h1,
    h2,
    h3 {
    }

    section {
      margin-bottom: 20px;
    }

    .bulleted-list__item {

      &:before {
        top: 1px;
      }
    }
  }

  .resume__header-main {
    text-align: left;
    padding: 0;
    position: relative;

    h1,
    h2 {
      display: inline-block;
      float: left;
    }

    h1 {
      color: #fff;
      font-size: 34px;
    }

    h2 {
      color: #f4ebf5;
      font-size: 18px;
      margin: 11px 0 0 10px;
    }

    .phone-link,
    .email-link {
      font-size: 16px;
      margin: 0 10px 5px 0;
      float: right;
      text-decoration: none;
      left: auto;
      transform: none;
      clear: none;

      &:after {
        color: #fbe9f6;
      }
    }

    .phone-link {
      @include icon-link($type: 'phone', $align-left: true);
      clear: right;
    }

    .email-link {
      @include icon-link($type: 'email', $align-left: true);
    }
  }

  .resume__heading {
    @include roboto;
    margin-bottom: 10px;
    font-size: 18px;

    &:before {
      top: 5px;
    }
  }

  .resume__timeframe {

    &:not(:last-of-type) {
      margin-bottom: 30px;
    }

    h3 {
      @include roboto-condensed;
      font-size: 16px;
    }

    h4 {
      font-size: 14px;
    }

    .date-range {
      font-size: 14px;
    }

    .bulleted-list {

      li {
        font-size: 12px;
      }
    }

    .block-list {

      li {
        font-size: 10px;
      }
    }
  }

  .resume__section--skills {

    .bulleted-list {
      @include flex-container;
    }

    .bulleted-list__item {
      //flex-basis: 30%;

      // &:before {
      //   @include material-icons;
      //   content: 'change_history';
      //   font-size: 10px;
      //   margin-right: 3px;
      //
      //   transform: rotate(90deg);
      // }
    }
  }
}
