@import '../base/vars';
@import '../base/fonts';
@import '../base/mixins';

@media print {

  .resume {

    h1,
    h2,
    h3 {
    }

    section {
      margin-bottom: 35px;
    }

    .bulleted-list__item {

      &:before {
        top: 3px;
      }
    }
  }

  .resume__header-main {
    padding: 0 0 0 10px;
    margin-bottom: 20px;
    position: relative;
    text-align: left;

    h1 {
      color: #fff;
      font-size: 38px;
      font-weight: bold;
      margin-bottom: 0;
    }

    h2 {
      color: #867f97;
      font-size: 26px;
      font-weight: bold;
      margin-top: -5px;
    }

    .icon-text {
      font-size: 16px;
      margin: 0 10px 5px 0;
      float: none;
      text-decoration: none;
      position: absolute;
      right: 10px;
      transform: none;
      clear: none;

      &:after {
        color: #fbe9f6;
      }
    }

    .icon-text--email {
      @include icon-link($type: 'email', $align-left: true);
      top: 9px;
    }

    .icon-text--phone {
      @include icon-link($type: 'phone', $align-left: true);
      top: 27px;
    }

    .icon-text--home {
      @include icon-link($type: 'home', $align-left: true);
      top: 44px;
    }
  }

  .resume__heading {
    padding: 0px 6px;
    //margin-bottom: 15px;
    color: #fff;
    z-index: 0;

    &:before {
      top: 5px;
    }

    &:after {
      content: '';
      border-top: 32px solid #ebebeb;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }

  .resume__timeframe {

    &:not(:last-of-type) {
      margin-bottom: 30px;
    }

    h3 {
      font-size: 16px;
    }

    h4 {
      font-size: 14px;
    }

    .date-range {
      font-size: 14px;
    }

    .bulleted-list {

      li {
        font-size: 12px;
      }
    }

    .block-list {

      li {
        font-size: 10px;
      }
    }
  }

  .resume__section--skills {

    .bulleted-list {
      @include flex-container;
    }
  }

  .resume__section--education {

    li {
      float: none;
      width: 100%;

      &:not(:last-of-type) {
        width: 100%;
        margin-right: 0;
        padding-right: 0;

        &:after {
          display: none;
        }
      }
    }
  }
}
