@import '../base/vars';
@import '../base/fonts';
@import '../base/mixins';

svg {
  cursor: default;
  display: block;
  width: 285px;
  height: 200px;
  margin: auto;
}

circle {
  cursor: pointer;
}

// players
.player-list {
  border-bottom: 2px solid;
  display: inline-block;
  list-style: none;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  padding: 0;
  margin: 20px 0 0;
  display: flex;
  width: 260px;
}

.player-list__item {
  flex-grow: 1;
  text-align: center;
  padding: 0 0 20px;
  position: relative;
  overflow: hidden;

  &:after {
    @include material-icons;
    content: 'arrow_drop_up';
    text-shadow: 0px -5px 0px #fff;
    font-size: 80px;
    line-height: 9px;
    position: absolute;
    bottom: -4px;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, 10px);
    transition: transform 300ms, opacity 300ms;
  }

  &:not(:last-child) {
    border-right: 2px solid #fff;
  }

  &.is-turn {

    &:after {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
}

.player-item__symbol {
  display: block;
  width: 70px;
  margin: 0 auto 10px;
  font-size: 25px;
  font-weight: bold;
}

.player-item__total {
  @include press-start-2p;
  color: #fff;
  font-size: 20px;

  .is-turn & {
    font-weight: bold;
  }
}
